.DS_Store
/writeups/proposal/main.aux
/writeups/proposal/main.log
/writeups/proposal/main.out
/writeups/proposal/main.pdf

/writeups/final-report/main.aux
/writeups/final-report/main.log
/writeups/final-report/main.out
/writeups/final-report/main.pdf
